.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.row {
    border: 1px solid black;
    padding: 20px;
    max-width: 150px;
    width: 100px;
    word-wrap: break-word;
}

.formElement {
  padding: 10px;
}

.addContactForm {
  border: 1px solid green;
  display: inline-block;
  width: 500px;
  margin: auto;
  padding: 50px;
}

.listContact {
  border: 1px solid green;
  display: inline-block;
  margin: auto;
  padding: 50px;
}

.header{
  margin: 20px;
}

.form-input{
  margin-left: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
